<div class="quiz-container owl-carousel">
  <form class="quiz-card" id="quiz-card-0">
    <h3 class="quiz-title">{{ module.title }}</h3>
    <p class="quiz-text">{{ module.welcome_text }}</p>
    <div class="quiz-nav-section">
      <button class="quiz-next-button" id="quiz-start">Get Started</button>
    </div>
  </form>

  {% for question in module.questions %}
    {% set number_of_cards = module.questions|length + 2 %}
    {% set card_num = loop.index %}
    {% set percent_complete = (card_num / number_of_cards * 100)|round %}
    {% set percent_incomplete = 100 - percent_complete %}
    <form class="quiz-card" id="quiz-card-{{ card_num }}" data-allow-multiple="{{ question.allow_multiple }}">
      <span class="quiz-complete-text">{{ percent_complete }}% Complete</span>
      <div class="quiz-complete-bar">
        <div class="quiz-complete-bar-full" style="width: {{ percent_complete }}%"></div>
        <div class="quiz-complete-bar-empty" style="width: {{ percent_incomplete }}%"></div>
      </div>
      <h3 class="quiz-question">{{ question.question_text }}</h3>
      <div class="quiz-answer-section">
        {% if question.answer_type == "buttons" %}
          {% for answer in question.answers %}
            <button class="quiz-answer-button"
              id="quiz-answer-{{ card_num }}-{{ loop.index }}"
              data-card-num="{{ card_num }}"
              data-answer-num="{{ loop.index }}"
              data-score="{{ answer.score or 0 }}"
              data-scoring-category="{{ answer.scoring_category or ''}}"
              data-allow-multiple="{{ question.allow_multiple or false }}"
              data-next-question="{{ answer.next_question or card_num + 1 }}"
            >
              {{ answer.answer_text }}
            </button>
          {% endfor %}
        {% else if question.answer_type == "text" or question.answer_type == "number" or question.answer_type == "email" %}
          <input type="{{ question.answer_type }}" class="quiz-input" id="quiz-answer-{{ card_num }}">
        {% else %}
          <textarea class="quiz-input" id="quiz-answer-{{ card_num }}"></textarea>
        {% endif %}
      </div>
      <div class="quiz-nav-section">
        <button class="quiz-back-button" id="quiz-back-{{ card_num }}">Back</button>
        <button class="quiz-next-button quiz-hidden" id="quiz-next-{{ card_num }}">Next</button>
      </div>
    </form>
  {% endfor %}

  <form class="quiz-card quiz-contact-card" id="quiz-card-{{ module.questions|length + 1 }}">
    {% set number_of_cards = module.questions|length + 2 %}
    {% set card_num = module.questions|length + 1 %}
    {% set percent_complete = (card_num / number_of_cards * 100)|round %}
    {% set percent_incomplete = 100 - percent_complete %}
    <span class="quiz-complete-text">{{ percent_complete }}% Complete</span>
    <div class="quiz-complete-bar">
      <div class="quiz-complete-bar-full" style="width: {{ percent_complete }}%"></div>
      <div class="quiz-complete-bar-empty" style="width: {{ percent_incomplete }}%"></div>
    </div>
    <h3 class="quiz-title">{{ module.contact_form.title }}</h3>
    <p class="quiz-text">{{ module.contact_form.text }}</p>
    <div class="quiz-answer-section">
      {% for field in module.contact_form.fields %}
        <label for="quiz-input-{{ field.internal_name }}">{{ field.input_label }}</label>
        {% if field.input_type == "textarea" %}
          <textarea class="quiz-contact-input"
            id="quiz-input-{{ field.internal_name }}"
            name="{{ field.internal_name }}"
          ></textarea>
        {% else %}
          <input type="{{ field.input_type }}"
            class="quiz-contact-input"
            id="quiz-input-{{ field.internal_name }}"
            name="{{ field.internal_name }}"
          >
        {% endif %}
      {% endfor %}
    </div>
    <div class="quiz-nav-section">
      <button class="quiz-back-button" id="quiz-back-{{ card_num }}">Back</button>
      <button class="quiz-next-button quiz-hidden" id="quiz-contact-next">
        {{ module.contact_form.button_text }}
      </button>
    </div>
  </form>

  {% for result in module.results %}
    <form class="quiz-card"
      id="quiz-card-{{ module.questions|length + 1 + loop.index }}"
      data-winning-category="{{ result.winning_category }}"  
    >
      <span class="quiz-complete-text">100% Complete</span>
      <div class="quiz-complete-bar">
        <div class="quiz-complete-bar-full" style="width: 100%"></div>
        <div class="quiz-complete-bar-empty" style="width: 0"></div>
      </div>
      <h3 class="quiz-title">{{ result.title }}</h3>
      <p class="quiz-text">{{ result.text }}</p>
      <div class="quiz-nav-section">
        {% set href = result.button_link.url.href %}
        {% if result.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a class="quiz-next-button"
          href="{{ href }}"
          {% if result.button_link.open_in_new_tab %} target="_blank"{% endif %}
          {% if result.button_link.rel %} rel="{{ result.button_link.rel }}"{% endif %}
        >{{ result.button_text }}</a>
      </div>
    </form>
  {% endfor %}
</div>

{% require_css %}
  <style>

  </style>
{% end_require_css %}

{% require_js %}
  <script>
    $(document).ready(function() {
      $('.owl-carousel').owlCarousel({
        items: 1,
        loop: false,
        mouseDrag: false,
        touchDrag: false,
        pullDrag: false,
        dots: false,
        animateIn: {% if module.slide_transition == "fade" %}"fadeIn"{% else %}false{% endif %},
        animateOut: {% if module.slide_transition == "fade" %}"fadeOut"{% else %}false{% endif %},
      })
    })
  </script>
{% end_require_js %}